
fliXNA_xbox/bin/Xbox 360/Debug/fliXNA_xbox.exe

fliXNA_xbox/bin/Xbox 360/Debug/fliXNA_xbox.pdb

fliXNA_xbox/obj/Xbox 360/Debug/fliXNA_xbox.exe

fliXNA_xbox/obj/Xbox 360/Debug/fliXNA_xbox.pdb

fliXNA_xbox/obj/fliXNA_xbox.csproj.xbox1.DeployCache.txt
